DB_HOST=localhost
DB_PORT=5432
DB_NAME=clinicdb
DB_USER=root
DB_PASSWORD=root

JWT_SECRET_KEY=MinhaChaveSuperSecretaEComPeloMenosSessentaEDoisCaracteresParaGarantirASegurancaDoSistema123!

OAUTH2_GOOGLE_CLIENT_ID=
OAUTH2_GOOGLE_CLIENT_SECRET=